<div class="container">
  <div class="row clearfix">
    <div class="col-md-12 column">
      <div class="jumbotron">
        <h1>
          Welcome to ReportCard!
        </h1>

        <p>
          This amazing site will help you figure out how other students feel about the classes & professors you're
          interested in!
        </p>

        <p>
          <a class="btn btn-primary btn-large" href="about">Learn more</a>
        </p>
      </div>

    </div>
  </div>
  <div class="row clearfix">
    <div class="col-md-8 column">
    </div>
    <div class="col-md-4 column">
    </div>
  </div>
  <div class="row clearfix">
    <div class="col-md-6 column">
      <h2>Professor stuff goes here</h2>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            Panel title
          </h3>
        </div>
        <div class="panel-body">
          Panel content
        </div>
        <div class="panel-footer">
          Panel footer
        </div>
      </div>
    </div>
    <div class="col-md-6 column">
      <h2>Class stuff goes here</h2>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            Panel title
          </h3>
        </div>
        <div class="panel-body">
          Panel content
        </div>
        <div class="panel-footer">
          Panel footer
        </div>
      </div>
    </div>
  </div>
</div>