<div class="container">
  <div class="row clearfix">
    <div class="col-md-12 column">
      <div class="jumbotron">
        <h1>
          Welcome to ReportCard!
        </h1>
        <p>
          This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.
        </p>
        <p>
          <a class="btn btn-primary btn-large" href="about">Learn more</a>
        </p>
      </div>
      <h3>Carousel of cool stuff?</h3>
      <div class="carousel slide" id="carousel-850785">
        <ol class="carousel-indicators">
          <li data-slide-to="0" data-target="#carousel-850785">
          </li>
          <li data-slide-to="1" data-target="#carousel-850785">
          </li>
          <li data-slide-to="2" data-target="#carousel-850785" class="active">
          </li>
        </ol>
        <div class="carousel-inner">
          <div class="item">
            <img alt="" src="http://lorempixel.com/1600/500/sports/1" />
            <div class="carousel-caption">
              <h4>
                First Thumbnail label
              </h4>
              <p>
                Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
              </p>
            </div>
          </div>
          <div class="item">
            <img alt="" src="http://lorempixel.com/1600/500/sports/2" />
            <div class="carousel-caption">
              <h4>
                Second Thumbnail label
              </h4>
              <p>
                Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
              </p>
            </div>
          </div>
          <div class="item active">
            <img alt="" src="http://lorempixel.com/1600/500/sports/3" />
            <div class="carousel-caption">
              <h4>
                Third Thumbnail label
              </h4>
              <p>
                Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
              </p>
            </div>
          </div>
        </div> <a class="left carousel-control" href="#carousel-850785" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#carousel-850785" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
      </div>

    </div>
  </div>
  <div class="row clearfix">
    <div class="col-md-8 column">
    </div>
    <div class="col-md-4 column">
    </div>
  </div>
  <div class="row clearfix">
    <div class="col-md-6 column">
      <h2>Professor stuff goes here</h2>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            Panel title
          </h3>
        </div>
        <div class="panel-body">
          Panel content
        </div>
        <div class="panel-footer">
          Panel footer
        </div>
      </div>
    </div>
    <div class="col-md-6 column">
      <h2>Class stuff goes here</h2>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            Panel title
          </h3>
        </div>
        <div class="panel-body">
          Panel content
        </div>
        <div class="panel-footer">
          Panel footer
        </div>
      </div>
    </div>
  </div>
</div>