<div class="container">
  <div class="row clearfix">
    <div class="leftInfoHolder">
      <div class="jumbotron">
        <h1>
          <%= @school.name %>
        </h1>


        <h3><%= @school.summary %></h3>

        <h3><%= @school.address %></h3>


      </div>
    </div>
    <div class="rightInfoHolder">


    </div>

  </div>
  <div class="commentForm">


    <div class="panel panel-default">
      <div class="panel-body">

      </div>
    </div>

  </div>



</div>
</div>