<div class="container">
  <div class="row clearfix">
    <div class="col-md-12 column">
      <div class="jumbotron">
        <h1>
          About ReportCard
        </h1>

        <p>
          Let's make this the about page
        </p>
      </div>
    </div>
  </div>
  <div class="row clearfix">
    <p>Something is going to go here sooner or later.
    </p>
  </div>
</div>
</div>